.containerContact {
  border: 2px solid #707070;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  min-width: 300px;
  gap: 12px;
  position: relative;
}

.deleteBtn {
  padding: 5px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  transform: translate(400%, -50%);
}
.text {
  text-align: left;
  display: flex;
  width: 235px;

  gap: 5px;
}
.containerUserData {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
