.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  border: 2px solid #707070;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #707070;
  border-radius: 4px;
}

.addContactBtn {
  margin-top: 10px;
  border: 1px solid #707070;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
